:host {
  display: block;
  padding: 20px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

[hidden] {
  display: none !important;
}

.clearButton {
  background: none;
  color: #666;
  display: inline-block;
  &:hover {
    color: #dc1828;
  }
}

input.suburbInput {
  display: inline-block;
}

li.suburb {
  &:hover {
    font-weight: 500;
    cursor: pointer;
  }
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
