<form (ngSubmit)="onSubmit()" #onlineForm="ngForm" novalidate="novalidate">

  <div class="form-group">
    <input type="text" [(ngModel)]="name" name="name" class="form-control" id="name" placeholder="Name" required>
  </div>

  <div class="form-group">
    <input type="email" [(ngModel)]="email" name="email" class="form-control" placeholder="Email" id="email" [pattern]="emailPattern" required>
  </div>

  <div class="form-group">
    <input [(ngModel)]="suburbSearch" name="suburb" class="form-control suburbInput" (keyup)="lookForSuburb()" placeholder="Enter suburb/postcode" required>
    <button class="clearButton" type="button"(click)="clearSuburb()" [hidden]="!suburbSearch">Clear</button>
    <ul>
      <li class="suburb" *ngFor="let suburb of suburbs" (click)="populateSuburb(suburb)">
        {{ suburb.location }}, {{ suburb.postcode }}
      </li>
    </ul>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!onlineForm.form.valid">Submit</button>
</form>

<div [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9  pull-left">{{ name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Alter Ego</div>
    <div class="col-xs-9 pull-left">{{ email }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Power</div>
    <div class="col-xs-9 pull-left">{{ suburbSearch }}</div>
  </div>
  <br>
</div>
